.Foot{
  background:black;
  width: 100%;
  height: 9%;
  display: flex;
  bottom: 0;
  
  align-items: center;
  align-content: center;
 
}
.Foot a img{
  margin: 12px 12px;

}
.Foot div{

  text-align: center;
  align-content: center;
  align-items: center;
  margin: 60PX;
  padding-bottom: 5px;
  color: #FFF;
}